# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jonathan\Documents\SkoleHKProgrammering\5_Semester_Fall_2020\EnterpriseProgrammering2\Enterprise2-CardGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
